/* start nav  */
.navbar {
  background-color: var(--color-base) !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 1px white;
}

.nav-link:focus, .nav-link:hover {
  color: var(--color-brand);
}

.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.navbar .nav-link:focus, .navbar .nav-link:hover, .navbar .nav-link.active {
  color: var(--color-brand);
}

@media (min-width: 768px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    background: linear-gradient(rgba(3, 63, 71, 0.462745098), rgba(3, 63, 71, 0.1607843137)), url(@/assets/sidebar-img.jpg);
    background-size: cover;
    background-position: center;
  }
  .navbar-brand img {
    border: 8px solid var(--color-brand);
  }
  .content-wrapper {
    padding-left: var(--sidbar-width);
  }
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  scroll-behavior: smooth;
}

/* For WebKit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(17, 7, 255), rgb(0, 224, 255));
}

/* For Firefox */
::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-thumb {
  background: linear-gradient(rgb(17, 7, 255), rgb(0, 224, 255));
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900 !important;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

.full-height {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-brand:hover, .btn-brand:focus {
  background-color: var(--color-brand2);
  color: var(--color-base);
  border-color: var(--color-brand2);
}

.btn-brand {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: var(--color-base);
  font-family: auto;
}

.btn {
  padding: 12px 28px;
}

:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}

body {
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

.text-brand {
  color: var(--color-brand);
}

.text-brand {
  color: var(--color-brand);
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.196);
}

.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -6px 6px 0 0 var(--color-brand);
}

/* ___________________________ */
/* start home  */
.mobile {
  width: -moz-fit-content;
  width: fit-content;
}

.mobile::before {
  content: "";
  left: 0;
  position: absolute;
  background-color: var(--color-brand2);
  height: 2Px;
  width: 0%;
  bottom: -7px;
  transition: 0.3s;
}

.mobile:hover::before {
  width: 102%;
}

.cursive {
  font-family: cursive;
}

/* start services  */
section {
  border-bottom: 2px solid rgba(255, 255, 255, 0.196);
}

.bg-base {
  background-color: var(--color-base);
}

#services .box > div {
  background-color: rgba(224, 247, 128, 0.3803921569);
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 40px;
  margin-left: 5px;
}

/* start work  */
#work .row a {
  padding-bottom: 10px;
  /* margin-bottom: -10px; */
  display: block;
  padding-left: 0.5rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

#work .row a::before {
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: var(--color-brand);
  left: 7px;
  bottom: 10px;
  content: "";
  transition: 0.3s;
}

#work .row a:hover::before {
  width: 90%;
}

/* end work  */
/* start contact  */
#contact input, #contact textarea {
  background-color: var(--color-base);
  border: none;
  border-radius: 6px;
  padding: 5px;
  transition: 0.3s;
}

#contact input::-moz-placeholder, #contact textarea::-moz-placeholder {
  color: white;
}

#contact input::placeholder, #contact textarea::placeholder {
  color: white;
}

#contact input:focus, #contact textarea:focus {
  outline: none;
  border: 1px solid var(--color-brand);
  caret-color: white;
}

#contact textarea {
  resize: vertical;
  height: 100px;
}

footer {
  border-top: 2px solid var(--color-base);
}

footer .col-md-6 {
  justify-content: flex-end;
}

footer .col-md-6 div {
  padding-left: 5px;
  padding-right: 5px;
}

footer .col-md-6 div i {
  font-size: 20px;
}

footer i {
  padding: 10px;
  transition: 0.3s;
}

footer i:hover {
  transform: translateY(-5px);
  color: var(--color-brand2);
}

/* end contact  */
@media (max-width: 767px) {
  .small {
    margin-top: 10px;
  }
  .align-small {
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
}
.image-container {
  /* height: 150px; */
  display: flex;
  align-items: center;
}

#services .box, #about .box {
  min-height: 100%;
}

#gtx-trans {
  position: absolute;
  left: 0px !important; /* Remove the left property */
  /* top: 88.4271px; */ /* You can also remove the top property if you want */
}/*# sourceMappingURL=main.css.map */